<!doctype html>
<html>

<head>
    <title>Sangbog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="../homestyle.css" rel="stylesheet">

</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Sangbog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Artists.html">Artists</a>
                    </li>
                    <!-- TODO: Are collections, categories and tags the same thing? 
                    <li class="nav-item">
                            <a class="nav-link" href="#">Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tags</a>
                        </li>
                        -->
                </ul>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <div id="myCarousel" class="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="first-slide" style="opacity: 0.2" src="../billede.jpg" alt="First slide">
                <div class="container">
                  <div class="carousel-caption text-left">
                    <h1>Stay a while, and listen.</h1>
                    <p>
                        Welcome to Sangbog! An online archive of danish songs and their chords.
                        This site is maintained by a group of song enthusiasts. The song archive
                        is maintained using git. If you'd like to add a song, create a 
                        push request at GITLINK.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Marketing messaging and featurettes
          ================================================== -->
          <!-- Wrap the rest of the page in another container to center all the content. -->
    
          <div class="container marketing">
            <h2>Contributors</h2>
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>martinmch</h2>
                <p>Contributes with old songs. Favorite genres include swing, beat etc..</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Enliden</h2>
                <p>Enjoys Nickelback.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>You?</h2>
                <p>No open positions for song contributors.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
    
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>
</body>
</html>