<!doctype html>
<html>

<head>
    <title>Sangbog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="../homestyle.css" rel="stylesheet">

</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Sangbog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="Home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Artists.html">Artists</a>
                    </li>
                    <!-- TODO: Are collections, categories and tags the same thing?
                    <li class="nav-item">
                            <a class="nav-link" href="#">Collections</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tags</a>
                        </li>
                      -->
                </ul>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">


          <div class="container marketing">
      <h1 style="margin-top:1em">Artists</h1>

            <p>Unfold the sections to find your favorite author, indexed by first character in their artist name.</p>

            <!-- Three columns of text below the carousel -->
            <details>
                <summary>A</summary>
                <div class="row">
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                      <h2>martinmch</h2>
                      <p>Contributes with old songs. Favorite genres include swing, beat etc..</p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                      <h2>Enliden</h2>
                      <p>Enjoys Nickelback.</p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                      <h2>You?</h2>
                      <p>No open positions for song contributors.</p>
                      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
              </details>

              <details>
                  <summary>B</summary>
                  <div class="row">
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>martinmch</h2>
                        <p>Contributes with old songs. Favorite genres include swing, beat etc..</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>Enliden</h2>
                        <p>Enjoys Nickelback.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="../mc.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>You?</h2>
                        <p>No open positions for song contributors.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                </details>
            
            </div><!-- /.row -->
          </div><!-- /.container -->
    
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>
</body>
</html>